.container-full-index
  .row
    .col-md-6
      .row
        .col-md-3
          %img{:src => "http://i1377.photobucket.com/albums/ah55/Jazer_Abreu/socialmanagerlogo_zps08a79177.png", :width => "100px", :height => "90px"}
        .col-md-9
          %h1 Welcome #{@user}
    .col-md-6{:style => "padding-right:20px;padding-top:20px;"}
      %a.btn.btn-settings.pull-right{:href=>"/settings",:role=>"button"} Settings
      %a.btn.btn-danger.pull-right{:href=>"/logout",:role=>"button"} Sign Out
  %hr{:style => "border-width:4px; border-color:white;"}
  .row#enter
    .col-md-3
    .col-md-6
      %p#infotext
        .row
          %textarea#text.input-custom{:autofocus => "autofocus",:placeholder => "Write your message", :type => "text", :name=>"text",:style=>"color:black;margin:0px;line-height:1em;resize:none;"}
        .row.text-center{:style => "padding-top:20px;padding-bottom:20px;"}
          %button#bsend.btn.btn-success{:type=>"submit"} Send
          %input#public{:name => "public", :type => "checkbox", :value => "public"}
          Public

    .col-md-3
  %form{:style=>"text-align:center"}
    %span

      - if @G_on != false
        %input#google{:name => "networkG", :type => "checkbox", :value => "google", :checked => ""}

          Google+
      - else
        %input#google{:name => "networkG", :type => "checkbox", :value => "google"}
          Google+

      - if @T_on != false
        %input#twitter{:name => "networkT", :type => "checkbox", :value => "twitter", :checked => ""}

          Twitter
      - else
        %input#twitter{:name => "networkT", :type => "checkbox", :value => "twitter"}
          Twitter

      - if @F_on != false
        %input#facebook{:name => "networkF", :type => "checkbox", :value => "facebook", :checked => ""}

          Facebook
      - else
        %input#facebook{:name => "networkF", :type => "checkbox", :value => "facebook"}
          Facebook

      - if @L_on != false
        %input#linkedin{:name => "networkL", :type => "checkbox", :value => "linkedin", :checked => ""}

          Linkedin
      - else
        %input#linkedin{:name => "networkL", :type => "checkbox", :value => "linkedin"}
          Linkedin
  %div{:style=>"text-align:center"}
    %h4{:style=>"color:white;"} Link or unlink an account
    %span
      - if @G_on != false
        %a.btn.btn-danger{:href=>"/desvincular/google",:role=>"button"} Unlink Google+
      - else
        %a.btn.btn-danger{:href=>"/auth/google_oauth2",:role=>"button"} Sign In Google+
      - if @T_on != false
        %a.btn.btn-info{:href=>"/desvincular/twitter",:role=>"button"} Unlink Twitter
      - else
        %a.btn.btn-info{:href=>"/auth/twitter",:role=>"button"} Sign In Twitter
      - if @F_on != false
        %a.btn.btn-facebook{:href=>"/desvincular/facebook",:role=>"button"} Unlink Facebook
      - else
        %a.btn.btn-facebook{:href=>"/auth/facebook",:role=>"button"} Sign In Facebook
      - if @L_on != false
        %a.btn.btn-linkedin{:href=>"/desvincular/linkedin",:role=>"button"} Unlink Linkedin
      - else
        %a.btn.btn-linkedin{:href=>"/linkedin",:role=>"button"} Sign In Linkedin
  <br>
  %hr{:style => "border-width:2px;"}
  .row
    .col-md-6
      #div1
        .div-custom#Bienvenida
          .row
            .col-md-3
              %img{:src => "http://i1377.photobucket.com/albums/ah55/Jazer_Abreu/socialmanagerlogo_zps08a79177.png", :width => "100px", :height => "90px"}
            .col-md-9
              %h3 Social Manager
              %button#bshare.btn.btn-group{:style => "float:right"} share
          .row
            .col-md-3
              %p= Time.now.asctime
            .col-md-9.message
              %p The development team reminds make responsible use of the Application. Enjoy your stay.
    .col-md-6
      #div2
        .div-custom#Bienvenida
          .row
            - @message.each do |src,alt,pic,who,text|
              - if text != nil
                .col-md-3
                  %img{:src => "#{src}", :alt => "#{alt}"}
                .col-md-9
                  %p
                    %img{:src => "#{pic}", :alt => "#{who}", :align=>"left",:style=>"width:40px;height:40px"}
                    %h3 #{who}
                    %button#bshare.btn.btn-group{:style => "float:right"} share
                    #{text}
            %hr
%script{:src => "/js/index.js"}
%script{:scr=>"/js/indexshare.js"}
